<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<body>
		<img src="/img/pic.jpg" alt="Profile Picture of Abby" height="300px" width="auto"  align="middle">
		<div>
		<p>	Vikas Gupta	<br>
			Product Manager
			<br>		
	  </p>	
		</div>
	  Skills
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>Adobe Dreamweaver</li>
		</ul>
	
		<!-- Social Media Links -->
		<a href="http://www.twitter.com/abbylarner">Twitter</a>
		<a href="http://www.dribbble.com/abbylarner">Dribbble</a>